@using E_Commerce.Entity
@model IEnumerable<Urun>

<h3>Popüler Ürünler</h3>
<ul class="nav nav-list promowrapper">
    @foreach (var item in Model)
    {
        <li>
            <div class="thumbnail">
            
                <img src="~/Content/İmage/@item.Resim" alt="Salih-Selim-Sekerci ecommerce templates">
                <div class="caption">
                    <h4><a class="defaultBtn" href="/Urun/UrunDetay/@item.Id">Görüntüle</a> <span class="pull-right">@item.Fiyat TL</span></h4>
                </div>
            </div>
        </li>
        <li style="border:0"> &nbsp;</li>
    }




</ul>

