@model E_Commerce.Models.Cart
<a href="cart.html"><span class="icon-shopping-cart"></span> [@Model.CartLines.Count] Adet<span class="badge badge-warning"> @Model.ToplamFiyat().ToString("c")</span></a>
